@media screen and (max-width: 375px) {

    .head-movie .navbar {
	   text-align: center;
	}

	.content-body {
		padding-top: 50px !important;
	}

	.img-c {
		padding-top: 50px !important;
	}
	.img-c img {
		height: 100% !important;
		margin: 0 auto;
		margin-top: -30px;
	}
}


@media screen and (max-width: 736px) and (min-width:320px) {
	.head-movie .navbar {
		text-align: center;
	}

	h3.title-profil {
		width: 55%;
	}

	.e-movie {
		width: 80% !important;
	}
	.cnews h3 {
		width: 20%;
	}

	.owl-main-2 .owl-nav {
		top:20px !important;
	}

	.owl-main-2 .owl-nav .owl-prev {
	    left: 10px !important;
	}

	.owl-main-3 .owl-nav .owl-prev {
	    left: 10px !important;
	}

	.owl-main-3 .owl-nav [class*='owl-'] {
		background: transparent !important;
		color: #fff !important;
	}

	.owl-main-2 .owl-nav [class*='owl-'] {
		background: transparent !important;
		color: #fff !important;
	}

	.owl-main-3 .owl-nav .owl-next {
		right: 11px !important;
	}
	.owl-main-2 .owl-nav .owl-next {
		right: 0px !important;
	}

	.content-body {
		padding-top: 50px !important;
	}

	.owl-theme .owl-nav [class*='owl-'] {
		font-size: 70px !important;
	}

	.owl-theme .owl-nav {
		bottom: 0 !important;
    	top: 0;
		margin-top: 60px !important;
	}

	.navbar-nav>li>a {
		font-size: 20px;
		text-align: left;
	}

	.navbar-default .navbar-collapse {
		text-align: left;
	}
	.navbar-default .navbar-form {
		text-align: center;
	}

	.slick-list {
		height: 400px !important;
	}

	.sl-main .slick-prev:before, .sl-main .slick-next:before {
	    font-size: 40px !important;
	}
	.sl-main .slick-prev {
	    left: 50px;
	}

	.sl-main .slick-next {
	    right: 50px;
	}


	.bplay {
	    width: 80px !important;
	    height: 80px !important;
	    padding-top: 5px !important;
	    font-size: 50px !important;
	    top: -80px;
	    padding-left: 5px;
	}
	.crecent {
		text-align: center;
	}

	.abcontent {
		top:0px;
	}

	.mfooter {
		position: relative;
    	top: 25px;
	}

	.cfooter {
		margin-top: -10px !important;
	}

	.img-responsive {
		margin: 0 auto;
	}


	.sosmed {
		position: relative !important;
		right: 0 !important;
		margin-top: 0 !important;
		text-align: center;
		padding: 0px;
		top:15px;
	}
	.footer {
		padding-top: 0 !important;
		padding-bottom: 40px;
	}

	.itm-c .mhome .title-movie {
	    font-size: 9px;
	    padding: 5px;
	}

	.title-movie h2 {
	    font-size: 1.6em;
	    margin-top: 5px;
	}

}

@media screen and (max-width: 1200px) and (min-width:1024px) {

	.owl-main-1 .owl-theme .owl-nav [class*='owl-'] {
		font-size: 50px !important;
	}
	

	.owl-theme .owl-nav {
		bottom: 450px !important;
	}

	.bplay {
		height: 150px !important;
	    width: 150px !important;
	    padding-top: 8px;
	}

	.owl-main-1 .owl-theme .owl-nav {
		margin-top: 160px !important;
	}

}
