@media screen and (max-width: 375px) {

    .head-movie .navbar {
	   text-align: center;
	}

	.content-body {
		padding-top: 50px !important;
	}

	.img-c {
		padding-top: 50px !important;
	}
	.img-c img {
		height: 100% !important;
		margin: 0 auto;
	}
}


@media screen and (max-width: 667px) and (min-width:320px) {
	.slick-list {
		height: 400px !important;
	}

	.sl-main .slick-prev:before, .sl-main .slick-next:before {
	    font-size: 40px !important;
	}
	.sl-main .slick-prev {
	    left: 50px;
	}

	.sl-main .slick-next {
	    right: 50px;
	}


	.bplay {
	    border-radius: 50%;
	    width: 120px !important;
	    height: 120px !important;
	    padding-top: 15px !important;
	    margin-top: 0 !important;
	    font-size: 70px !important;
	    top: 445px !important;
	}
	.crecent {
		text-align: center;
	}

	.abcontent {
		top:0px;
	}

	.mfooter {
		position: relative;
    	top: 25px;
	}

	.cfooter {
		margin-top: -10px !important;
	}

	.img-responsive {
		margin: 0 auto;
	}


	.sosmed {
		position: relative !important;
		right: 0 !important;
		margin-top: 0 !important;
		text-align: center;
		padding: 0px;
		top:15px;
	}
	.footer {
		padding-top: 0 !important;
		padding-bottom: 40px;
	}

}